<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings> <setting name="logImpl" value="STDOUT_LOGGING"/> </settings>
	<typeAliases>
         <typeAlias alias="Path" type="com.contest.bean.Path"/> 
         <typeAlias alias="Andorra" type="com.contest.bean.Andorra"/> 
	</typeAliases>
	<mappers>
        <mapper resource="mapper/pathMapper.xml"/> 
        <mapper resource="mapper/productMapper.xml"/>
	</mappers>
</configuration>